button.mt-auto.custom-button.btn.btn-outline-dark.btn-sm {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50px;
}

button.mt-auto.custom-button.btn.btn-outline-dark.btn-sm:hover {
  background-color: #b30000;
  color: white;
  border-color: #b30000; /* Optionally change border color */
}
