button.mt-auto.custom-button.btn.btn-danger.btn-md {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50px;
}

button.mt-auto.custom-button.btn.btn-danger.btn-md:hover {
  background-color: white;
  color: #000000;
  border-color: #000000; /* Optionally change border color */
}
