button.btn.btn-outline-danger.btn-sm {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50px;
  background-color: #b30000;
  color: white;
}

button.btn.btn-outline-danger.btn-sm:hover {
  background-color: white;
  color: #000000;
  border-color: #000000;
}
